use_default_settings: true

server:
  secret_key: "autosint-dev-secret-key"
  limiter: false
  image_proxy: false

search:
  safe_search: 0
  formats:
    - html
    - json

ui:
  static_use_hash: true
